apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources: []

patches:
  - target:
      group: gateway.networking.k8s.io
      version: v1
      kind: Gateway
      name: http-gateway
      namespace: default
    patch: |-
      spec:
        listeners:
          - allowedRoutes:
            namespaces:
              from: All
            hostname: home.jarvis-home.dev
            name: https
            port: 443
            protocol: HTTPS
            tls:
              certificateRefs:
              - group: ""
                kind: Secret
                name: http-gateway-cert
              mode: Terminate
          - allowedRoutes:
            namespaces:
              from: All
            hostname: code.jarvis-home.dev
            name: https
            port: 443
            protocol: HTTPS
            tls:
              certificateRefs:
              - group: ""
                kind: Secret
                name: http-gateway-cert
              mode: Terminate
          - allowedRoutes:
            namespaces:
              from: All
            hostname: longhorn.jarvis-home.dev
            name: https
            port: 443
            protocol: HTTPS
            tls:
              certificateRefs:
              - group: ""
                kind: Secret
                name: http-gateway-cert
              mode: Terminate