apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources: []

patches:
  - target:
      group: gateway.networking.k8s.io
      version: v1
      kind: Gateway
      name: http-gateway
      namespace: default
    path: gateway-patch.yaml