config:
  spec:
    destination:
      server: https://kubernetes.default.svc
    source:
      repoURL: https://github.com/npitsillos/jarvis-gitops
      targetRevision: HEAD

applications:
  - name: argocd-cm-extension
    namespace: argocd
    repoURL: https://github.com/npitsillos/jarvis-gitops
    targetRevision: HEAD
    path: argocd
    project: default
    wave: -1
  - name: bitnami-sealed-secrets
    namespace: kube-system
    repoURL: https://github.com/npitsillos/jarvis-gitops
    path: bitnami-sealed-secrets
    project: default
    targetRevision: HEAD
    wave: 0
  - name: nfd
    namespace: nfd
    repoURL: https://kubernetes-sigs.github.io/node-feature-discovery/charts
    chart: node-feature-discovery
    project: default
    targetRevision: 0.18.3
    tool:
      helm:
        releaseName: nfd
    wave: 0
  - name: longhorn
    namespace: longhorn-system
    project: default
    sources:
      - repoURL: https://charts.longhorn.io
        targetRevision: 1.11.0
        chart: longhorn
        helm:
          releaseName: longhorn
          values: |
            preUpgradeChecker:
              jobEnabled: false
      - repoURL: https://github.com/npitsillos/jarvis-gitops
        targetRevision: HEAD
        path: longhorn
    wave: 5
  - name: homeassistant
    namespace: homeassistant
    project: default
    repoURL: https://github.com/npitsillos/jarvis-gitops
    targetRevision: HEAD
    path: homeassistant
    wave: 10
  - name: vscode
    namespace: homeassistant
    project: default
    repoURL: https://github.com/npitsillos/jarvis-gitops
    targetRevision: HEAD
    path: vscode-server
    wave: 10
  - name: matter
    namespace: homeassistant
    project: default
    repoURL: https://github.com/npitsillos/jarvis-gitops
    targetRevision: HEAD
    path: matter
    wave: 10
  - name: gateway
    namespace: default
    project: default
    repoURL: https://github.com/npitsillos/jarvis-gitops
    targetRevision: HEAD
    path: gateway
    wave: -1
  - name: cloudnative-pg
    namespace: cnpg-system
    project: default
    sources:
      - repoURL: https://cloudnative-pg.github.io/charts
        targetRevision: 0.27.1
        chart: cloudnative-pg
        helm:
          releaseName: cnpg
    wave: 5
  - name: immich-pre
    namespace: immich
    project: default
    repoURL: https://github.com/npitsillos/jarvis-gitops
    targetRevision: HEAD
    path: immich-pre
    wave: 5
  - name: immich
    namespace: immich
    project: default
    wave: 10
    sources:
      - repoURL: oci://ghcr.io/immich-app/immich-charts/immich
        targetRevision: 0.10.3
        chart: immich
        helm:
          releaseName: immich
          values: |
            image:
              tag: v2.0.0
            immich:
              persistence:
                library:
                  existingClaim: immich-pvc
            server:
              controllers:
                main:
                  containers:
                    main:
                      env:
                        DB_HOSTNAME:
                          valueFrom:
                            secretKeyRef:
                              name: immich-database-app
                              key: host
                        DB_USERNAME:
                          valueFrom:
                            secretKeyRef:
                              name: immich-database-app
                              key: user
                        DB_PASSWORD:
                          valueFrom:
                            secretKeyRef:
                              name: immich-database-app
                              key: password
                        DB_DATABASE_NAME:
                          valueFrom:
                            secretKeyRef:
                              name: immich-database-app
                              key: dbname
            valkey:
              enabled: true
      - repoURL: https://github.com/npitsillos/jarvis-gitops
        targetRevision: HEAD
        path: immich