config:
  spec:
    destination:
      server: https://kubernetes.default.svc
    source:
      repoURL: https://github.com/npitsillos/jarvis-gitops
      targetRevision: HEAD

applications:
  - name: argocd-cm-extension
    namespace: argocd
    repoURL: https://github.com/npitsillos/jarvis-gitops
    targetRevision: HEAD
    path: argocd
    project: default
    wave: -1
  - name: bitnami-sealed-secrets
    namespace: kube-system
    repoURL: https://github.com/npitsillos/jarvis-gitops
    path: bitnami-sealed-secrets
    project: default
    targetRevision: HEAD
    wave: 0
  - name: nfd
    namespace: nfd
    repoURL: https://kubernetes-sigs.github.io/node-feature-discovery/charts
    chart: node-feature-discovery
    project: default
    targetRevision: 0.18.3
    tool:
      helm:
        releaseName: nfd
    wave: 0
  - name: longhorn
    namespace: longhorn-system
    project: default
    sources:
      - repoURL: https://charts.longhorn.io
        targetRevision: 1.11.0
        chart: longhorn
        helm:
          releaseName: longhorn
          values: |
            preUpgradeChecker:
              jobEnabled: false
      - repoURL: https://github.com/npitsillos/jarvis-gitops
        targetRevision: HEAD
        path: longhorn
    wave: 5
  - name: homeassistant
    namespace: homeassistant
    project: default
    repoURL: https://github.com/npitsillos/jarvis-gitops
    targetRevision: HEAD
    path: homeassistant
    wave: 10
  - name: vscode
    namespace: homeassistant
    project: default
    repoURL: https://github.com/npitsillos/jarvis-gitops
    targetRevision: HEAD
    path: vscode-server
    wave: 10
  - name: matter
    namespace: homeassistant
    project: default
    repoURL: https://github.com/npitsillos/jarvis-gitops
    targetRevision: HEAD
    path: matter
    wave: 10
  - name: gateway
    namespace: default
    project: default
    repoURL: https://github.com/npitsillos/jarvis-gitops
    targetRevision: HEAD
    path: gateway
    wave: -1